<h1>My Bookings</h1>
<body>
<section class ="column bookings_made">
<div align="left"> Bookings I've made
  <% @bookings_made.each do |booking| %>
    <table class="parent-div">
      <tr>
        <td class="ellipsis"><%=booking.date%></td>
        <td></td>
      </tr>
      <tr>
        <td><%=booking.space.name%></td>
          <td><a href="/bookings/<%=booking.id%>">...More</a></td>
      </tr>
      <tr>
        <td class="ellipsis"><%=booking.status%></td>
        <td></td>
      </tr>
      <br>
    </table>
  <%end%>

</div>
</section>

<section class ="column bookings_received">
<div align="right"> Bookings I've receieved
  <% @bookings_received.each do |booking| %>
    <table class="parent-div">
      <tr>
        <td class="ellipsis"><%=booking.date%></td>
        <td></td>
      </tr>
      <tr>
        <td><%=booking.space.name%></td>
          <td><a id="booking<%=booking.id%>" href="/bookings/<%=booking.id%>">...More</a></td>
      </tr>
      <tr>
        <td class="ellipsis"><%=booking.status%></td>
        <td></td>
      </tr>
      <br>
    </table>
  <%end%>
</div>
</section>
