<h1>My Bookings</h1>

<div class="tiny_space"></div>
<div align="left"> Bookings I've made
  <% @bookings_made.each do |booking| %>
    <a id="booking<%=booking.id%>" href="/spaces/<%=booking.space.id%>">
      <div class="space" style="width:75%">
        <p><%=booking.id%></p>
        <p><%=booking.date%></p>
        <p><%=booking.status%></p>
        <p><%=booking.space.name%></p>
        <p class="username">by <strong><%=booking.user.name%></strong></p>
        <div class="tiny_space"></div>
      </div>
    </a>
  <%end%>
</div>

<div class="tiny_space"></div>
<div align="right"> Bookings I've receieved
  <% @bookings_received.each do |booking| %>
    <a id="booking<%=booking.id%>" href="/bookings/<%=booking.id%>">
      <div class="space" style="width:75%">
        <p><%=booking.id%></p>
        <p><%=booking.date%></p>
        <p><%=booking.status%></p>
        <p><%=booking.space.name%></p>
        <p class="username">by <strong><%=booking.user.name%></strong></p>
        <div class="tiny_space"></div>
      </div>
    </a>
  <%end%>
</div>
